* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
  background: white;
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden !important;
}

/* TOP NAV*/
.top-nav-container {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
  width: 100%;
  padding-top: 15px;
  background: white;
}

.top-search-bar-header {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  flex-direction: row;
}

.top-header-title {
  display: flex;
  flex-direction: row;
}

.top-search-bar-header h1 {
  display: flex;
  padding-right: 15px;
  font-size: 40px;
  text-decoration: none;
  color: black;
}

.top-search-bar-header h2 {
  display: flex;
  padding-right: 50px;
  font-size: 40px;
  text-decoration: none;
  color: black;
}

.top-search-bar {
  display: flex;
  justify-content: flex-end;
}

.top-input {
  width: 300px;
  height: 30px;
  margin-right: 20px;
  font-size: 25px;
}

.button {
  padding: 10px 20px;
  border: 0;
  outline: 0;
  background: #000;
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.15s;
}

.search-button {
  padding: 5px 15px;
  border: 0;
  outline: 0;
  background: #000;
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.15s;
}

.button:hover {
  background: #333;
}

/* MAIN NAV */
.nav-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  background: white;
  border-radius: 5%;
  animation: 0.5s ease-in 0s opacityFade;
}

.nav-container * {
  transition: 1s all;
}

.search-bar-header {
  padding: 30px 40px 30px 40px;
}

.header-title {
  flex-direction: column;
}

.search-bar-header h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.search-bar-header h2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.search-bar {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.input {
  width: 300px;
  height: 30px;
  margin-right: 20px;
  padding: 5px 10px;
}

/* HEADER */
@keyframes opacityFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateX(0);
  }
}

/* MAIN IMAGES */
.results {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.results h4 {
  font-size: 16px;
  margin: 0;
  color: black;
}

.results p {
  font-size: 13px;
  margin: 10px 0 0;
  color: black;
}

.item {
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 15px;
  width: 24%;
  transition: 0.15s ease-out;
  animation: 0.8s ease-out 0s slideUp, 0.5s ease-in 0s opacityFade;
}

.item-info {
  padding: 20px;
}

.item:hover {
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.3);
}

.item:last-of-type {
  margin-right: auto;
}

.image-container {
  padding: 20px;
}

.image {
  background-color: black;
  width: 100%;
  height: 300px;
  border-radius: 3px 3px 0 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  padding: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal img {
  max-width: 100%;
}

.modal-active {
  display: flex !important;
}

.modal-wrapper {
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 800px;
  z-index: 999;
}

.modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  transition: 0.15s;
  color: black;
  cursor: pointer;
  z-index: 999;
}

.modal-close:hover {
  opacity: 0.8;
}

.modal-buttons {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-buttons span {
  text-align: center;
  font-size: 40px;
  cursor: pointer;
  margin: auto 0;
  z-index: 999;
}

.modal .back {
  padding-left: 15px;
}

.modal .forward {
  padding-right: 15px;
  margin-left: auto;
}

.modal-content {
  display: flex;
  position: relative;
  align-items: center;
  margin: auto;
  padding: 40px;
  background: white;
  border-radius: 10px;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.modal-content > div {
  width: 50%;
}

/* PAGINATION */
.pagination .top {
  display: flex;
  padding-left: 30px;
  padding-bottom: 30px;
  font-size: 30px;
}

.prev .top {
  margin-right: 50px;
}

.next .top {
  margin-left: 50px;
}

.pagination {
  display: none;
  justify-content: center;
  font-size: 25px;
  padding-top: 20px;
}

.search-bar-header h1 {
  font-size: 120px;
}

.search-bar-header h2 {
  font-size: 90px;
}

.search-bar {
  padding-top: 20px;
}

.input {
  width: 500px;
  height: 40px;
  margin-right: 20px;
  font-size: 35px;
}

/* MEDIA QUERYS */

@media screen and (max-width: 1440px) {
  /* MAIN NAV */
  .search-bar-header h1 {
    font-size: 60px;
  }

  .search-bar-header h2 {
    font-size: 50px;
  }

  .search-bar {
    padding-top: 15px;
  }

  .input {
    width: 250px;
    height: 30px;
    font-size: 25px;
    margin-right: 20px;
  }

  /* MODAL */
  .modal-content {
    overflow-y: scroll;
  }

  .button {
    padding: 5px 10px;
    font-size: 16px;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 1270px) {
  /* MAIN IMAGES */
    .item {
      width: 33%;
    }
}

@media screen and (max-width: 1077px) {
  /* TOP NAV*/
  .top-search-bar-header h1 {
    font-size: 30px;
  }

  .top-search-bar-header h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 1024px) {
  /* TOP NAV */
  .top-search-bar-header h1 {
    font-size: 25px;
  }

  .top-search-bar-header h2 {
    font-size: 25px;
  }

  .top-input {
    width: 200px;
    height: 25px;
    font-size: 23px;
  }

  .search-button {
    padding: 3px 10px;
    font-size: 16px;
    letter-spacing: 2px;
  }

  /* PAGINATION */
  .pagination .top {
    font-size: 25px;
  }
}

@media screen and (max-width: 850px) {
  /* TOP NAV*/
  .top-search-bar-header {
    flex-direction: column;
  }

  .top-header-title {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
  }

  .top-input {
    width: 250px;
    height: 25px;
    font-size: 23px;
  }

  /* MAIN IMAGES */
    .item {
      width: 50%;
    }

    /* PAGINATION */
    .pagination .top {
      padding-left: 30px;
      font-size: 25px;
    }

    /* .prev .top {
      padding: 0 0 50px 30px;
    }

    .next .top {
      margin-left: 50px;
    } */
}

@media screen and (max-width: 768px) {
  /* TOP NAV*/
  .top-search-bar-header h1 {
    padding-right: 15px;
    font-size: 25px;
  }

  .top-search-bar-header h2 {
    padding-right: 25px;
    font-size: 25px;
  }

  .top-input {
    width: 230px;
    height: 28px;
    font-size: 25px;
  }

  /* PAGINATION TOP*/
  .pagination .top {
    padding-left: 30px;
    padding-bottom: 30px;
    font-size: 20px;
  }

  .prev .top {
    margin-right: 50px;
  }

  .next .top {
    margin-left: 50px;
  }
}

@media screen and (max-width: 600px) {
  /* MAIN IMAGES */
    .item {
      width: 100%;
    }
}

@media screen and (max-width: 375px) {
  /* MAIN NAV */
  .search-bar-header {
    padding:20px;
  }

  .search-bar-header h1 {
    font-size: 40px;
  }

  .search-bar-header h2 {
    font-size: 30px;
  }

  .search-bar {
    padding-top: 10px;
  }

  .input {
    width: 150px;
    height: 25px;
    font-size: 20px;
    margin-right: 15px;
    padding: 5px 5px;
  }

  .button {
    padding: 0px 5px;
    font-size: 16px;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 320px) {

}
